<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>

    <!-- get the required files from 3rd party sources -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/d3.v3.min.js"></script>
</head>

<body>
    <div>
        <h2>Req-mLearning<h2>
        <h4>A Requirements Catalog for Mobile Learning Applications</h4>
        <p>Click on a node to expand or collapse your items (the last level has a hint about the requirement)</p>
      <!-- SVG container (see index.hbs) -->
    </div>
    {{{body}}}
</body>

</html>
