<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/d3.v4.min.js"></script>
</head>

<body>
    <div>
        {{{body}}}
    </div>
</body>

</html>
