html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: table;
    font-family: 'Roboto', sans-serif;
}

h4 {
  margin-bottom: 4px;
}

p {
  margin-top: 4px;
  font-size: 12px;
}

body>div {
    display: table-cell;
    text-align: center;
    /* horizontal */
    vertical-align: middle;
    /* vertical */
}

/* D3 Styles*/

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #546E7A;
    stroke-width: 1.5px;
}

.node text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: justify;
    min-width: 100px;
    max-width: 400px;
    min-height: 10px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ECEFF1;
    border: solid 1px #90A4AE;
    border-radius: 4px;
    pointer-events: none;
}
